<div class="clef-toolbar">
    <span class="clef-toolbar-info">@Subtitulo</span>
    <OmniPagination CurrentPage="CurrentPage"
                    CurrentPageChanged="CurrentPageChanged"
                    TotalCount="TotalCount"
                    PageSize="PageSize"
                    Compact="true" />
</div>

@code {
    [Parameter] public string Subtitulo { get; set; } = "0 de 0";
    [Parameter] public int CurrentPage { get; set; }
    [Parameter] public EventCallback<int> CurrentPageChanged { get; set; }
    [Parameter] public int TotalCount { get; set; }
    [Parameter] public int PageSize { get; set; } = 50;
}
